/* .App {
  text-align: center;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100vh;
}

body {
  background-color: #1E1E1E;
}

.nav-brand {
  font-weight: bold;
  font-size: 1.5rem;
}

.logout-btn {
  background-color: #FF725E;
  color: whitesmoke;
  border: none;
}

.logout-btn:hover {
  background-color: #fe5c47;
}

.signup-bodytext {
  color: aqua;
  padding-right: 30px;
  max-width: 90%;
}

.img {
  max-width: 60%;
}

.signup-container {
  padding: 10px;
  margin: 50px auto;
}

.signup-container .row {
  padding: 10px;
}

.signup-form {
  padding: 30px 50px;
  background-color: lightgray;
  border-radius: 8px;
}

.signup-form > * {
  padding-bottom: 5px;
}

.signup-form button {
  margin-top: 10px;
  justify-content: right;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
}

.add-code-title {
  margin-top: 10px;
}


/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
